html, body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
    font-family: "Bricolage Grotesque", system-ui, sans-serif;
}

@keyframes softPulse {
    0% {
        transform: scale(0.9);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.4);
        opacity: 0.9;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.5;
    }
}

.animate-soft-pulse {
    animation: softPulse 3s ease-in-out infinite;
}